* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.pdf-view {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;
 }


 .btns {
    position: fixed;
    left: 0;
    top:30px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .btns button {
    margin: 0 5px
 }

 .canvasstyle {
 }


 .book-cont-bottom {
    position: fixed;
    left: 0;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38px;
    background: white;
   color:#666
 }

 .book-cont-bottom i {
   display: inline-block;
   margin:  0 10px;
   font-style: normal;
 }

 .book-cont-bottom b {
   font-style: normal;
 }

.book-cont-bottom span:nth-child(1) {
    display: inline-block;
    margin-left: 5%;
}

.book-cont-bottom span:nth-child(2) {
    display: inline-block;
    margin-right: 6%;
}


