html,body{
            height: 100%;
           }
 a, address, b, big, blockquote, body, center, cite, code, dd, del, div,
 dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6,
 html, i, iframe, img, ins, label, legend, li, ol, p, pre, 
small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
        }
        a{text-decoration: none}
        li{list-style: none;}

body {
    // min-width: 1200px;
}


.index-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 768px;
}

.mark-img-class {
    position: fixed;
    top: 15px;
    left: 1.5%;
}


.lib-cate {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #ccc;
    // box-shadow: 5px 5px 10px #666;
    height: 100%;
    min-height: 200px;
    width: 300px;
    background: white
}


li {
    list-style: none
}

.iframe-css {
     transform: scale(0.8) translateY(20px);
     // min-width: 1000px;
     // margin-top: -112px;
     border:70px solid white;
     border-top: 20px solid white;
     box-sizing: content-box;
}

.lib-cate-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -70px;
    top: 0;
    width: 70px;
    height: 70px;
    background: #2b579a;
    /*border-radius: 50%;*/
    color: white;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.5
}

.addNote {
    right: -100px;
    top: 100px;
    width: 100px;
    font-size: 18px;
}

.lib-cate-toggle:hover {
    opacity: 1
}

.book-or-section-lib {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 8%;
    margin-bottom: 2%;
}

.lib-active {
    background: #2b579a;
    color:white;
}

.book-or-section-lib span {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #2b579a;
    cursor: pointer;
}

.lib-list-wrap {
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.book-or-section-lib-list {
    width: 110%;
    height: 90%;
    overflow-y: scroll;
}

.book-or-section-lib-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px
}

.book-or-section-lib-list li {
    cursor: pointer;
    margin-bottom:  5px;
    width: 80%;
    line-height: 30px;
    
}

.book-or-section-lib-list li:hover {
    // background: #eee
}

.book-sections-list:hover {
   cursor: pointer;
   background: #e4ebf5;
}

.font-model-list {
     margin-top: 10px;
    height: 57px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    box-shadow: 0px 5px 15px #ddd
}

.font-model-list:hover {

    outline: 7px solid #e4ebf5;
    border: none;
}  

.font-model-list img {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 20px !important;
    height: 20px !important;
    margin: 0 10px 0 20px !important;

}

.book-cont-top {
    /* position: fixed;
    left: 50%;
     top: 70px;*/
    // z-index: 1;
    position: relative;
    // z-index: 3;
    margin: 0 auto;
    /*margin-left:-36%;*/
    width: 78.3%;
    // min-width: 800px;
    height: 7%;
    background: white;
    border-bottom: 1px solid #ddd;
    color:#666;
}

.book-content {
    position: absolute;
    left: 50%;
    top:50%;
    // margin: -45% -5%;
    margin-top: -1.2%;
    margin-left: -45%;
    // z-index: 1;
    width: 90%;
    height: 30px;
    // margin: 1.8% auto;
}

.book-content-back {
    position: absolute;
    left: -10%;
    top: 0;
    width: 30px;
    height: 30px;
}

.book-content-cur-tag {
    float: left;
    position: relative;
    z-index: 2;
    width: 80px;
    height: 100%;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    background: #959188;
    color:white
}

.tag-next {
    background: transparent;
    width: 50px;
    margin-top: -1px;
    cursor: pointer;
}

.tag-next>img {
    width: 100%;
    height: 100%;
}

.book-search {
    float: right;
    width: 100px;
    box-sizing: border-box;
    margin-left: -100px;
}

.book-search span {
    margin: 0 5px;
    cursor: pointer;
}

.book-content-input {
    position: relative;
    // z-index: 2;
    width: 300px;
    height: 30px;
    float: right;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 14px;
    padding-right: 85px;
}

@media screen and (max-width:1100px) {
    .book-content-input {
        width: 30%
    }
}

.exp-map-level {
    position: relative;
    z-index: 2;
    float:left;
    margin-top: 5px;
    color:#666;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 196px;
 }

.exp-map-level .active {
    color:white;
    background: #00aeed;
    box-shadow: 0 5px 5px #cceffb, 5px 0px 5px #cceffb, -5px -1px 5px #cceffb;
}

.exp-map-level i {
  display: flex;
  margin-right:22px;
  font-style: normal;
  padding-left: 16px;
}

.exp-map-level span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-left: -2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #ccc;
  /*box-shadow: 4px 4px 5px #cceffb;*/
}

.exp-map-level span:not(.active):hover {
  color:white;
  background: #00aeed;
  box-shadow: 0 5px 5px #cceffb, 5px 0px 5px #cceffb, -5px -1px 5px #cceffb;
}

.exp-map-level b {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-right: -2px;
  margin-left: -2px;
  justify-content: center;
  width: 20px;
  height: 12px;
  /*background: #ddd;*/
  border: 1px solid #ccc;
}




.right-bar {
    position: fixed;
    right: 8.8%;
    top:70px;
    width: 37px;
    height: 300px;
}

.right-bar img {
    margin-bottom: 25px;
    cursor: pointer;
}

.right-bar-switch {
    width: 100%;
    height: 160px;
    margin-top: 35px;
    float: right;
}

.right-bar-switch span {
    display: inline-block;
    height: 74px;
    width: 100%;
    border: 1px solid #bbb;
    margin-bottom: 5px;
    background: #d5d7c9;
}

.right-bar-switch span:hover {
    background: #95918b;
    color:white;
    cursor: pointer;
}

/*.right-bar-switch span:nth-of-type(2) {
    background: #95918b;
    color:white;
}*/

.right-bar-switch span img {
    width: 20px;
    height: 12px;
    margin:30px 8px;
}


.lib-right {
    position: absolute;
    right: 50px;
    top:-9px;
    z-index: 2;
    width: 283px;
    height: 820px;
    background: #95918b;
    overflow-y: auto;
}

.right-arrow {
    position: absolute;
    right: 42px;
    top:4px;
    z-index: 2;
}

.lib-right-content {
    margin: 0 auto;
    width: 230px;
    height: 100%;
    
}

.lib-right-content li {
    height: 68px;
    line-height: 68px;
    color: white;
    border-bottom: 1px solid #aaa;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.wrap-cont-margin {
    margin-top: 15px;
    cursor: pointer;
}



.wrap-cont-top {
    top:0;
    background: transparent;
}

.wrap-cont-top-btn {
    float: left;
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    color:#333;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

.wrap-cont-top>ul {
    float: right;
    width: 208px;
    height: 40px;
    background: white;
    color:#333;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 13px 25px;
}

.wrap-cont-top>ul>li {
    float: left;
    position: relative;
    width: 33%;
    height: 70%;
    border-right: 1px solid #ccc;
    margin-top: 5px;
}
.wrap-cont-top > ul > li:nth-of-type(3) {
    border-right: none;
}

.wrap-cont-top > ul > li img {
    width: 22px;
    height: 22px;
    margin-left: 22px;
    margin-top: 3px;
    cursor: pointer;
}



.bg-colors {
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 2 !important;
    width: 283px;
    height: 70px;
    background: #95918b;
}

.bg-colors li {
    float: left;
    margin: 12px;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: white;
}

.top-arrow {
    position: absolute;
    top: 35px;
    left: 5px;
    z-index: 2 !important;
    width: 14px  !important;
    height: 10px  !important;
}

.set-fonts {
    width: 70px;
    height: 80px;
}

.set-fonts li {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin: 0;
    background: transparent;
    text-align: center;
    line-height: 40px;
    color:white;
    cursor: pointer;
    font-size: 20px;
}

.set-fonts li:hover {
    background: #9f9e97;
}

.wrap-cont-switch {
    float:right;
    width: 150px;
    margin-bottom:0;
    font-size: 12px;
    color:#666;
    margin-top: 30px;    
}

.wrap-cont-switch .lib-active {
    background: white;
    color:#666;
}

.wrap-cont-switch span {
    background:#d5d7c9;
    padding: 5px 10px;
    border: 1px solid #ddd;
    height: 40px;
    line-height: 30px;
}

.wrap-cont-switch span:nth-of-type(1) {
    border-radius: 20px 0 0 20px;
}

.wrap-cont-switch span:nth-of-type(2) {
    border-radius:0 20px 20px 0;
}


.book-cont-bottom {
    position: fixed;
    left: 0;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38px;
    background: white;
    color:#666
 }

.book-cont-bottom span:nth-child(1) {
    display: inline-block;
    margin-left: 5%;
}

.book-cont-bottom span:nth-child(2) {
    display: inline-block;
    margin-right: 6%;
}

.page-exchange {
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    width: 40px;
    height: 100px;
    opacity: 0.7
}

.page-exchange-left {
    left: 1%;
}

.page-exchange-right {
    right: 1%;
}

.page-exchange img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.loading-content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #444;
    opacity: 0.7;
}

.loading-content img {
    width: 64px;
    cursor: pointer;
}

.load-other {
    opacity: 1;
    background: transparent;
    color:white;
    font-size: 18px;
}


   /*=============  涉及系列  ================*/
    #modalBody{
    margin-bottom: 30px;
    }
    
   #modalBody .span1,.span10{
    margin: 0 15px 15px 0;
    line-height: 30px;
    display: inline-block;
    padding: 0 15px;
    background-color: #f2f2f2;
    cursor: pointer;
    position: relative;
    color:#666;
   }

  #modalBody .span1:hover{
    background-color: #e4e4e4;
    color:#333;
  }
  #modalBody .span10:hover{
    background-color: #e4e4e4;
    color:#333;
  }
  
   .noInnerHtml{
    text-align:center;
    line-height: 40px;
   }

  
   #modalBody .span1 .showBox2{
    width: 300px;
    display: block;
    position: absolute;
    left:98%;
    top:0;
    z-index: 1000008787;
    padding-left: 19px;
    margin-top: 16px;
    background: url('../images/jian.png') no-repeat;
   }

   #modalBody .span1 .showBox1{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
    padding: 8px 20px ;
    line-height: 22px;
    font-size: 13px;
  }

#modalBody .div{
    height: auto;
    overflow: hidden;
    margin:0 auto;
}

#modalBody .div1{
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 10px 15px;
    width: 150px;
    height: 150px;
    float: left;

}

#modalBody .div1 img{
    width: 90%;
    height: 105px;
    margin:5%;
    cursor: pointer;
}

#modalBody .div1 p{
    width: 90%;
    font-size: 12px;
    margin:5%;
    text-align: center;
}


.context-menu {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 2px 2px 2px #999;
    width: 100px;
    height: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.context-menu li {
    padding: 0 10px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    line-height: 30px;
    cursor: pointer;
}

.context-menu li:hover {
    background: #eee
}

.context-menu .menu-disabled:hover {
    background: #fff;
}

.menu-disabled {
    color:#aaa;
}

/* ======= 设备切换模态框 ========== */
.equipement{
  background-color: #2b579a;
  line-height: 50px;
  color:white;
  font-size: 15px;
  text-align: center;
  margin-top: 0;

}

#equipement .nopadding{
  padding: 0;
  border:0;
}
#equipement .close {
    margin-top: 8px;
    margin-right: 10px;
    color: white;
}

.select{ 
  display: flex; 
  justify-content:space-between;
  font-size: 14px;
}

.select .mybtn1{
  background-color: #2b579a;
  padding: 5px 10px;
  color:white;
  cursor: pointer;
  border:none;
  border-radius: 6px;
}
.checkbox {
  height: 390px;
  overflow-y: scroll; 
}

.checkbox label{
  display: block;
  line-height: 30px;
  border:1px solid #ddd;
  text-align: left;
  position: relative;
  margin-bottom: 15px;
}

.checkbox input{
  position: absolute;
  right:15px;
  top:5px;
}



.exchange-map {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exchange-map>div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc;
    /*background: #eee;*/
    margin: 10px 20px 10px 0;
    width: 150px;
    height: 150px;
    /*background: yellow*/  
}

.exchange-map>div>img {
    margin: 10px auto;
    width: 90%;
    height: 105px;
}

.exchange-map>div p {
    text-align: center;
    padding: 0 10px;
    font-size: 12px;
    color: #444;
}

.down-load-modal {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 115px;
    background: #2b579a;
    opacity: 0.3;
}

.down-load-modal img {
    width: 64px;
    height: 64px
}


.down-load-modal div {
    width: 64px;
    height: 64px;
}


.search-content {
    background:#5980b8;
}


.exp-lablel {
    background: red;
}